body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: url("https://unsplash.com/photos/an-aerial-view-of-a-lush-green-forest-BOJ_pat2MPg")
    no-repeat center center fixed;
  background-size: cover;
  color: #555;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px;
}
.login-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 110%;
  width: 100%;
  margin-bottom: 50px;
}
.login-form input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
}
.login-form input[type="text"] {
  border: 2px solid #000;
  border-radius: 8px;
}
.login-form input[type="password"] {
  padding-top: 10px;
  padding-bottom: 4px;
  border-radius: 10px;
  font-size: 14px;
}

.login-form label {
  font-size: 12px;
  font-weight: bold;
}

.login-button {
  margin: 30px auto 0;
  padding: 8px 40px;
  background-color: #555;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: fit-content;
}

.arrow {
  font-size: 12px;
  margin-bottom: 10px;
}

.login-right {
  align-items: center;
  text-align: center;
}

.brand-name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.features-box {
  border: 3px solid #000;
  border-radius: 20px;
  padding: 40px 20px;
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 1000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #767b7f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-left,
  .login-right {
    padding: 10px 10px;
    align-items: center;
    text-align: center;
  }

  .login-form {
    width: 50%;
    max-width: 100%;
  }

  .login-form input {
    width: 100%;
  }

  .features-box {
    width: 60%;
    height: 220px;
    padding: 30px 20px;
    font-size: 14px;
  }

  .login-title {
    font-size: 32px;
  }

  .brand-name {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .login-title {
    font-size: 28px;
  }

  .brand-name {
    font-size: 24px;
  }

  .features-box {
    padding: 20px 15px;
    font-size: 13px;
  }

  .login-button {
    padding: 8px;
    font-size: 14px;
  }
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  font-weight: bold;
}

.login-container.light {
  background-color: #ffffff;
  color: #000;
}

.login-container.dark {
  background-color: #2e2c2c;
  color: #f0f0f0;
}

.login-container.dark .login-form input,
.login-container.dark .features-box {
  background-color: #2e2c2c;
  color: #f0f0f0;
  border-color: #444;
}

.login-container.dark .login-button {
  background-color: #f0f0f0;
  color: #121212;
}

.login-container.dark .theme-toggle {
  background-color: #fff;
  color: #000;
}
.login-container.dark .arrow {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
}
