body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 1000;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.sidebar.light {
  background-color: #fff;
  color: #000;
}

.brand {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-toggle {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 8px 12px;
  border-radius: 8px;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 300px;
}

.theme-toggle:hover {
  background-color: #000;
  color: #fff;
}

.theme-toggle:hover .icon,
.theme-toggle:hover span {
  color: #fff;
}

.theme-toggle .icon {
  margin-right: 12px;
  font-size: 1.1rem;
}


.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 170px;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.95rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu li .icon {
  margin-right: 12px;
  font-size: 1.1rem;
}

.menu li:hover {
  background-color: #000;
  color: #fff;
}

.menu li:hover .icon,
.menu li:hover span {
  color: #fff;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.logout, .profile {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout:hover, .profile:hover {
  background-color: #000;
  color: #fff;
}

.logout:hover .icon,
.logout:hover span,
.profile:hover .icon,
.profile:hover span {
  color: #fff;
}

.logout {
  color: #e74c3c;
}

.logout .icon {
  margin-right: 8px;
}

.profile .icon {
  margin-right: 2px;
}

/* Media query for small screens */
@media (max-width: 1290px) {
  .sidebar {
    width: 60px;
    padding: 10px;
  }

  .brand {
    display: none;
  }

  .menu li {
    justify-content: center;
  }

  .menu li .icon {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .menu li span {
    display: none;
  }

  .bottom {
    align-items: center;
  }

  .logout, .profile {
    font-size: 1.1rem;
  }

  .logout .icon, .profile .icon {
    font-size: 1.5rem;
  }

  .logout span, .profile span {
    display: none;
  }
}
