.rightSidebar {
  flex: 0.2;
  background-color: transparent;
  color: var(--text-color);
  height: 100vh;
  overflow-y: auto;
  margin-top: 14px;
}

.rightSidebar::-webkit-scrollbar {
  display: none;
}
.toggleArrow.right1 {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 999;
  background-color: rgb(22, 18, 18);
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
}

.toggleArrow.right1.sidebar-open {
  right: 260px;
}

.storySection {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 260px;
  gap: 30px;
}

.storySection::-webkit-scrollbar {
  display: none;
}

.imageContainer {
  position: relative;
  min-width: 100px;
  scroll-snap-align: start;
}

.storyImage {
  width: 110px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.profileImage {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 5px;
  left: 33px;
  border: 2px solid var(--container-color);
}

.suggest {
  margin-top: 10px;
}

.suggestionsSection h4,
.interestsSection h4 {
  margin-bottom: 1px;
  font-weight: var(--font-semibold);
  color: var(--title-color);
}

.suggestionProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  color: var(--text-color);
}

.suggestionAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.suggestionsSection {
  width: 100%;
}

.suggestionsList {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 23px;
  scroll-snap-type: x mandatory;
}

.suggestionProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  padding: 15px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 250px;
  max-width: 250px;
  scroll-snap-align: start;
  position: relative;
}

.suggestionProfile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.suggestionAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.suggestionDetails {
  text-align: center;
}

.suggestionName {
  font-weight: var(--font-bold);
  color: var(--title-color);
  margin: 0;
}

.suggestionUsername {
  color: var(--text-color);
  margin: 0;
  font-size: var(--small-font-size);
}

.followButton {
  background-color: var(--first-color);
  color: var(--container-color);
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.followButton:hover {
  background-color: #0d8ce2;
}

.suggestionsList::-webkit-scrollbar {
  display: none;
}

.vibeScore {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: var(--text-color);
}

.questionMark {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-bold);
  cursor: pointer;
  font-size: var(--smaller-font-size);
  transition: background-color 0.2s ease;
  margin-right: 5px;
}

.vibeText {
  font-size: 10px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.questionMark + .vibeText {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  position: absolute;
  top: -8px;
  right: 100px;
  background-color: var(--container-color);
  color: red;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  border: 2px solid rgb(238, 220, 220);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid rgb(232, 218, 218);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.questionMark:hover + .vibeText + .tooltip,
.tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.interestsSection {
  margin-top: 20px;
}

.interestIcons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  justify-items: center;
  align-items: center;
}

.interestImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.storyCarouselMobile {
  display: none;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .storySection {
    width: 100%;
    gap: 15px;
  }

  .suggestionsList {
    gap: 10px;
    padding: 20px;
  }

  .suggestionProfile {
    min-width: 220px;
    max-width: 220px;
  }

  .vibeScore {
    font-size: 12px;
  }

  .suggestionAvatar {
    width: 45px;
    height: 45px;
  }

  .suggestionName {
    font-size: 16px;
  }

  .suggestionUsername {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .storySection {
    width: 100%;
    gap: 10px;
  }

  .suggestionsList {
    gap: 5px;
    padding: 10px;
  }

  .suggestionProfile {
    min-width: 180px;
    max-width: 180px;
  }

  .suggestionAvatar {
    width: 40px;
    height: 40px;
  }

  .suggestionName {
    font-size: 14px;
  }

  .suggestionUsername {
    font-size: 10px;
  }

  .followButton {
    padding: 5px 10px;
  }
  .toggleArrow.right1 {
    position: fixed;
    top: 15px;
    left: 650px !important;
    z-index: 999;
    background-color: rgb(22, 18, 18);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .toggleArrow.right1.sidebar-open {
    right: -200px;
  }
}

@media (max-width: 691px) {
  .toggleArrow.right1 {
    position: fixed;
    top: 15px;
    left: 600px !important;
    z-index: 999;
    background-color: rgb(22, 18, 18);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .toggleArrow.right1.sidebar-open {
    right: -200px;
  }
}
@media (max-width: 964px) {
  .rightSidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    z-index: 100;

    background-color: transparent;
  }
}

@media (max-width: 838px) {
  .mainLayout {
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .rightSidebar {
    background-color: #fff;
  }
  .toggleArrow.right1 {
    position: fixed;
    top: 15px;
    left: 750px;
    z-index: 999;
    background-color: rgb(22, 18, 18);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .toggleArrow.right1.sidebar-open {
    right: -200px;
  }
}
