/* src/pages/HomePage.css */

.hero-section {
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  }
  
  .navbar {
    background: transparent !important;
    padding: 20px 0;
  }
  
  .navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 20px;
  }
  
  .navbar-nav .btn {
    margin-left: 20px;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hero-content h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  
  .hero-content .btn-primary {
    padding: 15px 30px;
    font-size: 1.2em;
  }
  