/* src/components/DiscoverCarousel.css */

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust as needed */
  }
  
  .card {
    width: 18rem;
  }
  
  .card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto 0;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn {
    margin-top: 10px;
  }
  